<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="front">
		<div class="section">
            <h1>Bluelink Fleet Care</h1>
            <div>
                <strong>Willkommen auf dem Bluelink Fleet Portal.</strong>
                <p>Dieses Portal ist nur autorisierten Benutzern zugänglich.<br>Bitte bestätigen sie Ihr konto oder registrieren sie sich vor der anmeldung.</p>
            </div>
            <div class="btn-front-group">
                <button type="button" class="btn btn-primary">Anmelden</button>
                <button type="button" class="btn btn-secondary">Registrieren</button>
            </div>
        </div>
        <div class="logo-footer">현대자동차그룹</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>