<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../scss/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
        <div class="popup-wrap medium-popup">
            <strong class="title-popup">Notice</strong>

            <div class="popup-content">
                <p>Deleting a menu also deletes all submenus. Before deleting a menu, it is recommended to first adjust the position of the required menu.</p>
                <strong>Are you sure you want to delete it?</strong>
            </div>
            <div class="popup-footer">
                <div class="btn-wrap btn-right">
                    <button class="btn btn-primary btn-short" type="button">Confirm</button>
                </div>
            </div>
            
            <button type="button" class="btn-sclose"><span class="blind">닫기</span></button>
        </div>
        <span class="bg"></span>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>