<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="../scss/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
		<header>
			<div class="section">
				<h1 class="logo"><button class="logo-link"><span class="blind">bluelink Fleet</span></button></h1>
                <div class="util">
                    <div class="dropdown">
                        <button class="link dropdown-toggle" type="button" data-coreui-toggle="dropdown" aria-expanded="false">
                            Germany
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Germany</a></li>
                            <li><a class="dropdown-item" href="#">Korean</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </div>
                    <button class="link"><span>Hyundai Motor Group / John smith</span></button>
                    <div>
                        <button class="link"><i class="ico-alram"></i></button>
                        <button class="link"><i class="ico-logout"></i></button>
                    </div>
                </div>
			</div>
		</header>
        <div class="container">
            <aside>
                <ul class="menu">
                    <li><button class="link-menu"><i class="ico-menu01"></i><span>Dashboard</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu02"></i><span>Vehicle Control</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu03"></i><span>Predictive Maintenance</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">Predictive Maintenance Status</button></li>
                            <li><button class="link-menu">VIN List</button></li>
                        </ul>
                    </li>
                    <li class="on"><button class="link-menu"><i class="ico-menu04"></i><span>DTC Code</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">DTC Code</button></li>
                            <li><button class="link-menu">DTC Status Check</button></li>
                            <li class="on"><button class="link-menu">Monthly Report History</button></li>
                        </ul>
                    </li>
                    <li><button class="link-menu"><i class="ico-menu05"></i><span>Maintenance</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">Maintenance Status</button></li>
                            <li><button class="link-menu">Maintenance History</button></li>
                        </ul>
                    </li>
                    <li><button class="link-menu"><i class="ico-menu06"></i><span>Safety Control</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu07"></i><span>Driving Analysis</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu08"></i><span>Communications</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">Notice Board</button></li>
                            <li><button class="link-menu">Q&A</button></li>
                        </ul>
                    </li>
                    <li><button class="link-menu"><i class="ico-menu09"></i><span>Reference Info.</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">Vehicle Mgt.</button></li>
                            <li><button class="link-menu">Business Vehicle Mgt.</button></li>
                            <li><button class="link-menu">Provisioning Mgt.</button></li>
                            <li><button class="link-menu">Fleet Vehicle Group Mgt.</button></li>
                            <li><button class="link-menu">Maintenance Mgt.</button></li>
                            <li><button class="link-menu">Dealer Mapping Mgt.</button></li>
                        </ul>
                    </li>
                    <li><button class="link-menu"><i class="ico-menu10"></i><span>System Mgt.</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">Notice Board Mgt.</button></li>
                            <li><button class="link-menu">User Usage History</button></li>
                            <li><button class="link-menu">Business Mgt.</button></li>
                            <li><button class="link-menu">Account Mgt.</button></li>
                            <li><button class="link-menu">Menu Mgt.</button></li>
                            <li><button class="link-menu">Code Mgt.</button></li>
                            <li><button class="link-menu">Authority Mgt.</button></li>
                            <li><button class="link-menu">SMS Mgt.</button></li>
                            <li><button class="link-menu">Language Mgt.</button></li>
                        </ul>
                    </li>
                </ul>
                <button class="btn-aside btn-aside-close"></button>
            </aside>
            <div class="content">
                <div class="w-content">
                    <div class="title-area">
                        <h3 class="page-title">Monthly Report History</h3>
                    </div>

                    <div class="search-wrap">
                        <div class="group-box half">
                            <div class="inp-group no-label">
                                <div class="period">
                                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                                    <label class="btn btn-secondary" for="option1">1 Week</label>
                                    
                                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                                    <label class="btn btn-secondary" for="option2">1 Month</label>
                                    
                                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                                    <label class="btn btn-secondary" for="option3">6 Month</label>
                                    
                                    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                                    <label class="btn btn-secondary" for="option4">1 Year</label>
                                </div>
                            </div>
                            <div class="inp-group">
                                <div class="datepicker-wrap">
                                    <div data-coreui-locale="en-US" data-coreui-toggle="date-range-picker"></div>
                                </div>
                            </div>
                        </div>
                        <div class="group-box hasbtn">
                            <div class="col2">
                                <div class="inp-group">
                                    <label for="inp6" class="form-label">Recipient group</label>
                                    <div class="form-select-wrap">
                                        <select class="form-select" id="inp6">
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="inp-group w70">
                                    <label for="inp1" class="form-label">Keyword</label>
                                    <input type="text" class="form-control" id="inp1" placeholder="Enter Keyword">
                                </div>
                            </div>
                            <div class="btn-search">
                                <button type="button" class="btn btn-primary ico-search"><span class="blind">검색</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="table-wrap">
                            <h4 class="stitle">Result <span class="col-point3">157</span></h4>
                            <table class="table table-col datatable dataTable no-footer">
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:18%" span="5">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0">No</th>
                                        <th class="sorting sorting_asc" tabindex="0">Recipient Group <span>sort</span></th>
                                        <th class="sorting sorting_asc" tabindex="0">Fleet</th>
                                        <th class="sorting sorting_asc" tabindex="0">User ID <span>sort</span></th>
                                        <th class="sorting sorting_asc" tabindex="0">Newsletter Title <span>sort</span></th>
                                        <th class="sorting sorting_asc" tabindex="0">Date <span>sort</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>159</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>158</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>157</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>156</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>155</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>154</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>153</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>152</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>151</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <tr>
                                        <th>150</th>
                                        <td>Corporation</td>
                                        <td>Hong gildong</td>
                                        <td>koreansuperhero@email.com</td>
                                        <td>May 2022 Monthly Driving Information</td>
                                        <td>29-05-2022</td>
                                    </tr>
                                    <!-- 데이타 없을 시 -->
                                    <tr>
                                        <td class="nodata" colspan="9">
                                            <p><i class="tbl-ico-nodata"></i> There are no search results.</p>
                                        </td>
                                    </tr>
                                    <!-- // 데이타 없을 시 -->
                                </tbody>
                            </table>
                        </div>

                        <div class="align-center">
                            <div class="pagination-wrap">
                                <div class="pagination">
                                    <span class="page-item">
                                        <a class="page-link page-first" href="#" aria-label="first">
                                            <span aria-hidden="true"></span>
                                        </a>
                                    </span>
                                    <span class="page-item">
                                        <a class="page-link page-prev" href="#" aria-label="Previous">
                                            <span aria-hidden="true"></span>
                                        </a>
                                    </span>
                                    <span class="page-item active"><a class="page-link" href="#">1</a></span>
                                    <span class="page-item"><a class="page-link" href="#">2</a></span>
                                    <span class="page-item"><a class="page-link" href="#">3</a></span>
                                    <span class="page-item">
                                        <a class="page-link page-next" href="#" aria-label="Next">
                                            <span aria-hidden="true"></span>
                                        </a>
                                    </span>
                                    <span class="page-item">
                                        <a class="page-link page-last" href="#" aria-label="last">
                                            <span aria-hidden="true"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="logo"><button class="logo-link"><span class="blind">HYUNDAI MOTOR GROUP</span></button></div>
            <div class="f-link">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Hyundai Worldwide</a></li>
                    <!-- <li><a href="#">TBD</a></li> -->
                </ul>
                <p class="copyright">Copyright 2022 hyundai motor company. All right reserved.</p>
            </div>
        </footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>