<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> Email </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body stlye="margin:0; padding:0;">
<table width="700" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border:1px solid #e5e5e5;">
	<thead>
		<tr>
			<td width="120" height="35" style="background:#1a252d;">
				<img src="../assets/images/mail/web-header-logo1.png" alt="Bluelink Fleet" style="display:block; width:83px; height:36px; margin:18px 0 18px 30px;" border="0"/>
			</td>
			<td width="580" height="35" style="background:#1a252d;">
				<p style="font-family: Arial; font-size: 18px; font-weight: bold; color:#fff; text-align: right; margin:18px 30px 18px 0;"> Monthly Vehicle Driving &amp; Health Report <br/><span style="font-size:12px; color:#448cc2;">Power by Bluelink Fleet</span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" width="700">
				<table width="700" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="30"></td>
							<td width="640" align="left" style="font-size:14px; color:#555; font-family: Arial;">
								<table width="640"  border="0" cellspacing="0" cellpadding="0" >
									<thead>
										<tr>
											<td width="640" style="line-height:20px; color:#666; letter-spacing:normal;">
												<p style="margin-top:20px; margin-bottom:5px; font-size:16px; color:#222; font-weight:bold;">
													Hello, Driver!
												</p>
												<p style="margin-top:20px; margin-bottom:5px; font-size:14px;">
													Thank you for choosing Hyundai and Bluelink Fleet.<br/>
													This is the Driving &amp; Health Report for this month.
												</p>
												<p style="margin-top:20px; margin-bottom:30px; font-size:14px; font-weight:bold; color:#666;">
													Please find the attachment for more information<br/>
													For your security, connfirm <span style="color:#81c29a;">PIN(4-digits)</span> you have set up on Bluelink Fleet website and enter it.
												</p>
												<table width="640"  border="0" cellspacing="0" cellpadding="0">
													<thead>
														<tr>
															<td width="200" height="15" style="background:#2d6894; font-size: 0; line-height: 0;">&nbsp;</td>
															<td width="200" height="15" style="background:#2d6894; font-size: 0; line-height: 0;">&nbsp;</td>
															<td width="200" height="15" style="background:#2d6894; font-size: 0; line-height: 0;">&nbsp;</td>
														</tr>
														<tr>
															<td width="200" height="25" style="background:#2d6894; color:#fff; padding:0 0 0 30px; font-size:14px;  vertical-align: bottom;">Owner</td>
															<td width="220" height="25" style="background:#2d6894; color:rgba(255, 255, 255, 0.5); padding:0 0 0 29px; font-size:14px; vertical-align: middle; border-left:1px solid #5786a9;">Model</td>
															<td width="220" height="25" style="background:#2d6894; color:#fff; font-size:14px; vertical-align: middle;">Xcient Fuel Cell</td>
														</tr>
														<tr>
															<td width="200" height="25" style="background:#2d6894; color:#fff; padding:0 0 0 30px; font-size:16px; line-height:18px; font-weight:bold; vertical-align: bottom;">Vehicle Owner Name<!--<span style="font-size:14px; font-weight: normal;">Owner</span><br/>Vehicle Owner Name--></td>
															<td width="220" height="25" style="background:#2d6894; color:rgba(255, 255, 255, 0.5); padding-left:29px;font-size:14px; vertical-align: middle; border-left:1px solid #5786a9;">VIN</td>
															<td width="220" height="25" style="background:#2d6894; color:#fff; font-size:14px; vertical-align: middle;">KMFXXXXXXXX123456 </td>
														</tr>
														<tr>
															<td width="200 "height="25" style="background:#2d6894; color:#fff; padding:0 0 0 30px;  font-size: 0; line-height: 0;">&nbsp;</td>
															<td width="220" height="25" style="background:#2d6894; color:rgba(255, 255, 255, 0.5); padding-left:29px;font-size:14px; vertical-align: middle; border-left:1px solid #5786a9;">Vehicle No.</td>
															<td width="220" height="25" style="background:#2d6894; color:#fff; font-size:14px; vertical-align: middle;">XXXXXXX</td>
														</tr>
														<tr>
															<td width="200" height="25" style="background:#2d6894; color:#fff; font-size: 0; line-height: 0;">&nbsp;</td>
															<td width="220" height="25" style="background:#2d6894; color:rgba(255, 255, 255, 0.5); padding-left:29px; font-size:14px; vertical-align: middle; border-left:1px solid #5786a9; ">Bluelink Fleet Subscription</td>
															<td width="220" height="25" style="background:#2d6894; color:#fff; font-size:14px; vertical-align: middle;">Since DD/MM/YYY</td>
														</tr>
														<tr>
															<td width="200" height="15" style="background:#2d6894; font-size: 0; line-height: 0;">&nbsp;</td>
															<td width="200" height="15" style="background:#2d6894; font-size: 0; line-height: 0;">&nbsp;</td>
															<td width="200" height="15" style="background:#2d6894; font-size: 0; line-height: 0;">&nbsp;</td>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td colspan="3">
																<p style="margin:20px 0; padding:20px 80px 20px 30px; font-size:13px; line-height:20px; color:#666; background-color: #f2f0ee;">
																	Please acknowledge that PIN is different from password of Bluelink Fleet website account.<br/>
																	In case of forgettin PIN, you can change or reset it on  Bluelink Fleet website<br/>
																	<span style="color:#d4a554;">(Home > System Management > Business Management)</span><br/><br/>
																	This mail ir only for sendingm not being used for replying.<br/>
																	For any questions, please leave your comments on  Bluelink Fleet website<br/>
																	<span style="color:#d4a554;">(Home > Communication > Q&amp;A)</span>
																</p>
															</td>
														</tr>
													</tbody>
												</table>
												
												<p style="font-size:14px;">
													Click the button below to view the report.
												</p>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td height="20"></td>
										</tr>
										<tr>
											<td align="center" width="640" height="40" >
												<a href="#" style="height:40px; background:#fff; padding:11px 29px; border:1px solid #2d6894; color: #2d6894;  font-size: 14px; font-weight: bold; line-height: 20px; text-decoration: none;"><font color="#2d6894">View Report</font></a>
											</td>
										</tr>
										<tr>
											<td height="30"></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="30"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="4" width="700" style="font-size:12px; color:#fff; ">
				<table width="700" border="0" cellspacing="0" cellpadding="0" >
					<thead>
						<tr>
							<td colspan="4" width="700" height="0"></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4" width="700" height="84">
								<img usemap="#email_footer" src="../assets/images/mail/img_footer.jpg" alt="Privacy policy, Legal Notice, Contact US, Hyundai Worldwide,Copyright 2022 hyundai motor company. All right reserved." border="0" style="display:block; width:700px; height:84px;" />
							</td>
						</tr>			
					</tbody>
				</table>
			</td>
		</tr>			
	</tbody>
</table>

<map name="email_footer" id="email_footer">
	<area target="_blank" alt="Hyundai logo" title="Hyundai logo" href="#" coords="31,21,122,67" shape="rect">
    <area target="_blank" alt="Privacy Policy" title="Privacy Policy" href="#" coords="137,17,230,45" shape="rect">
    <area target="_blank" alt="Legal Notice" title="Legal Notice" href="#" coords="268,19,357,46" shape="rect">
    <area target="_blank" alt="Contact Us" title="Contact Us" href="#" coords="396,21,478,44" shape="rect">
    <area target="_blank" alt="Hyundai Worldwide" title="Hyundai Worldwide" href="#" coords="509,20,650,46" shape="rect">
</map>

 </body>
</html>
