<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../scss/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
        <div class="popup-wrap large-popup">
            <strong class="title-popup">
                <div class="inp-basic form-check form-switch">
                    <label for="switch" class="form-label">Maintenance Check List</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="switch" checked="">
                </div>
            </strong>
            <div class="popup-content">
                <div class="box-gray">
                    <strong class="tit">KMFXXXXXXXX123456</strong>
                    <ul class="info-flex">
                        <li><span>Maintenance Mileage </span><span>QZ FCEV</span></li>
                        <li><span>Odometer </span><span>18,700 km</span></li>
                    </ul>
                </div>
                <div class="accordion mt30" id="accordionExample">
                    <div class="accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <fieldset>
                                <div class="form-check-list">
                                    <div class="form-check large">
                                        <input class="form-check-input allcheck" type="checkbox" disabled value="" id="chk01">
                                        <button class="accordion-button" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><label class="form-check-label" for="chk01">Powertrain</label></button>
                                    </div>
                                </div>
                            </fieldset>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-coreui-parent="#accordionExample">
                            <div class="accordion-body">
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox"  value="" id="chk01_01">
                                            <label class="form-check-label" for="chk01_01">Distance to the floor when pedaling/ Brake operating condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" disabled value="" id="chk01_02">
                                            <label class="form-check-label" for="chk01_02">Leakage, damage, fitted condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk01_03">
                                            <label class="form-check-label" for="chk01_03">Oil level
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <fieldset>
                                <div class="form-check-list">
                                    <div class="form-check large">
                                        <input class="form-check-input allcheck" type="checkbox" value="" id="chk02">
                                        <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><label class="form-check-label" for="chk02">Steering</label></button>
                                    </div>
                                </div>
                            </fieldset>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-coreui-parent="#accordionExample">
                            <div class="accordion-body">
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk02_01">
                                            <label class="form-check-label" for="chk02_01">Distance to the floor when pedaling/ Brake operating condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk02_02">
                                            <label class="form-check-label" for="chk02_02">Leakage, damage, fitted condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk02_03">
                                            <label class="form-check-label" for="chk02_03">Oil level
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <fieldset>
                                <div class="form-check-list">
                                    <div class="form-check large">
                                        <input class="form-check-input allcheck" type="checkbox" value="" id="chk03">
                                        <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><label class="form-check-label" for="chk03">Brake</label></button>
                                    </div>
                                </div>
                            </fieldset>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-coreui-parent="#accordionExample">
                            <div class="accordion-body">
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk03_01">
                                            <label class="form-check-label" for="chk03_01">Distance to the floor when pedaling/ Brake operating condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk03_02">
                                            <label class="form-check-label" for="chk03_02">Leakage, damage, fitted condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk03_03">
                                            <label class="form-check-label" for="chk03_03">Oil level
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <fieldset>
                                <div class="form-check-list">
                                    <div class="form-check large">
                                        <input class="form-check-input allcheck" type="checkbox" value="" id="chk04">
                                        <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><label class="form-check-label" for="chk04">Driving</label></button>
                                    </div>
                                </div>
                            </fieldset>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-coreui-parent="#accordionExample">
                            <div class="accordion-body">
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk04_01">
                                            <label class="form-check-label" for="chk04_01">Distance to the floor when pedaling/ Brake operating condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk04_02">
                                            <label class="form-check-label" for="chk04_02">Leakage, damage, fitted condition
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-check-list">
                                        <div class="form-check small">
                                            <input class="form-check-input" type="checkbox" value="" id="chk04_03">
                                            <label class="form-check-label" for="chk04_03">Oil level
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="form-section">
                    <div class="txt-area mt20">
                        <dl>
                            <dt>Monitoring Comment</dt>
                            <dd>Monitoring comment here. Monitoring comment here.<br>
                                Monitoring comment here.<br>
                                Monitoring comment here. Monitoring comment here.<br>
                            </dd>
                        </dl>
                    </div>
                    <div class="mt20">
                        <dl>
                            <dt>Notes by Corporation</dt>
                            <dd class="box-darkgray">Notes appear here. Notes appear here.<br>
                                Notes appear here. Notes appear here. Notes appear here. Notes appear here.<br>
                            </dd>
                        </dl>
                    </div>
                    <div class="mt20">
                        <dl>
                            <dt>Notes by Dealer</dt>
                            <dd class="box-line">Notes appear here. Notes appear here.<br>
                                Notes appear here. Notes appear here. Notes appear here. Notes appear here.<br>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="popup-btngroup">
                <div class="btn-wrap">
                    <button type="button" class="btn btn-outline-secondary btn-sm btn-tbl">Cancel</button>
                    <button class="btn btn-primary btn-sm btn-tbl" type="submit">Save</button>
                </div>
            </div>
            <button type="button" class="btn-close"><span class="blind">close</span></button>
        </div>
        <span class="bg"></span>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>