<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../scss/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
        <div class="popup-wrap large-popup">
            <strong class="title-popup">Excel File Upload</strong>

            <div class="popup-content">
                <div class="box-gray">
                    <div class="input-group">
                        <div class="filebox bs3-primary">
                            <input class="upload-name" value="파일선택" disabled="disabled">
                            <label for="inputGroupFile02">File...</label> 
                            <input type="file" id="inputGroupFile02" class="form-control upload-hidden"> 
                        </div>
                    </div>
                    <a href="#" class="where">Excel template download</a> 
                </div>
                <p class="important">You must upload a file that fits the template.<br>Please download the sample file, fill out the file correctly, and upload it.</p>
            </div>
            <div class="btn-wrap">
				<button type="button" class="btn btn-outline-secondary btn-sm btn-tbl">Cancel</button>
				<button class="btn btn-primary btn-sm btn-tbl" type="submit">Upload</button>
			</div>
            <button type="button" class="btn-sclose"><span class="blind">close</span></button>
        </div>
        <span class="bg"></span>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>