<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../scss/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
        <div class="popup-wrap full-popup rules">
            <strong class="title-popup">Privacy Statement</strong>
            <div class="popup-content">
                <div class="rules-context">
                    1.Based on your consent, Hyundai Motor Company is processing and using the personal data provided by you on the occasion of contacting us. Your request will be forwarded to Hyundai Autoever Europe GmbH for processing. 
                    <br><br>
                    2. If Hyundai Autoever Europe GmbH is not located within the European Union (EU) or the European Economic Area, we point out that an adequate level of data protection cannot be guaranteed outside the EU. Therefore, a transmission of your data is only permitted if you give your explicit consent despite the lack of an adequate data protection level.
                    <br><br>
                    3. Hyundai Motor Company processes and uses the personal data provided by you exclusively for the handling of your request. The data collected will not be used for information and advice about products and services of Hyundai Motor Company (advertising) or for market research beyond the mentioned purpose at any time.
                    <br><br>
                    4. Your consent will be documented by us. The content of your consent can be requested directly from customercare@hyundai-europe.com. Without your consent we are not allowed to answer your request due to legal reasons.
                    <br><br>
                    5. Moreover, you have the right to revoke or change your consent at any time with effect for the future via customercare@hyundai-europe.com.
                </div>
            </div>
            
            <button type="button" class="btn-close"><span class="blind">닫기</span></button>
        </div>
        <span class="bg"></span>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>