<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>fleet</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="intro">
		<header>
			<div class="section">
				<h1 class="logo"><button class="logo-link"><span class="blind">bluelink fleet</span></button></h1>
				<p class="title">Account Activation Request</p>
                <span class="desc">Welcome to the registration page for Bluelink Fleet Portal. Please fill in all the information needed to complete the process.</span>
			</div>
		</header>
		<div class="content">
			<form>
				<fieldset disabled>
					<div class="inp-basic">
						<label for="inp0" class="form-label">ID</label>
						<input type="text" class="form-control" id="inp0" value="uptimeuser@email.com">
					</div>
					<div class="inp-basic">
						<label for="inp1" class="form-label">First Name</label>
						<input type="text" class="form-control" id="inp1" value="Benedict">
					</div>
					<div class="inp-basic">
						<label for="inp2" class="form-label">Last Name</label>
						<input type="text" class="form-control" id="inp2" value="placehold">
					</div>
				</fieldset>
				<fieldset>
					<div class="inp-basic form-select-wrap">
						<label for="sel" class="form-label">Business Type<span class="esse">필수</span></label>
						<select class="form-select" id="sel">
							<option selected>Cumberbatch</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</fieldset>
                <fieldset disabled>
					<div class="inp-basic form-select-wrap">
						<label for="sel2" class="form-label">Position<span class="esse">필수</span></label>
						<select class="form-select" id="sel2">
							<option selected>Position</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
                </fieldset>
                <fieldset>
					<div class="inp-basic form-select-wrap">
						<label for="sel3" class="form-label">Company<span class="esse">필수</span></label>
						<select class="form-select" id="sel3">
							<option selected>placehold</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
                </fieldset>
			</form>

			<div class="rules-wrap">
				<h3>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="chk1">
						<label class="form-check-label" for="chk1">I have read and agree with terms & conditions<span class="esse"></span></label>
					</div>
				</h3>
				<div class="text-content">
Hyundai Motor Company or Hyundai Autoever Europe GmbH responsible for me will deal with my request via my given information. My data will be stored and processed only for this purpose. All given information will be treated confidentially regarding the applicable data protection law. And I have read privacy statement <button type="button" class="btn-text">here</button>
                </div>

				<h3>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="chk2">
						<label class="form-check-label" for="chk2">I have read and agree with the use of location (GPS) data</label>
					</div>
				</h3>
			</div>
		</div>
		<div class="btn-wrap">
			<button type="button" class="btn btn-outline-secondary">Cancel</button>
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
        
        <footer>
            <div class="logo"><button class="logo-link"><span class="blind">HYUNDAI MOTOR GROUP</span></button></div>
            <div class="f-link">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Hyundai Worldwide</a></li>
                    <!-- <li><a href="#">TBD</a></li> -->
                </ul>
                <p class="copyright">Copyright 2022 hyundai motor company. All right reserved.</p>
            </div>
        </footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>