<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
<div role="tree" class="rc-tree">
    <div><input tabIndex="0" aria-label="for screen reader" value=""
                style="width: 0px; height: 0px; display: flex; overflow: hidden; opacity: 0; border: 0px; padding: 0px; margin: 0px;">
    </div>
    <div class="rc-tree-treenode" aria-hidden="true"
         style="position: absolute; pointer-events: none; visibility: hidden; height: 0px; overflow: hidden;">
        <div class="rc-tree-indent">
            <div class="rc-tree-indent-unit"></div>
        </div>
    </div>
    <div class="rc-tree-list" style="position: relative;">
        <div class="rc-tree-list-holder">
            <div>
                <div class="rc-tree-list-holder-inner" style="display: flex; flex-direction: column;">
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="대시보드"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-off">OFF</span><div class="btn-box"><button type="button"
                                                                                           class="btn-add"><span
                      class="blind">추가</span></button><button type="button" class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">대시보드</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-open rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher_open"></span><span title="예방정비"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-open"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-add"><span
                      class="blind">추가</span></button></div></div></span><span
                      class="rc-tree-title">예방정비</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true" class="rc-tree-indent"><span
                      class="rc-tree-indent-unit"></span></span><span class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="예방정비 종합현황"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">예방정비 종합현황</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true" class="rc-tree-indent"><span
                      class="rc-tree-indent-unit"></span></span><span class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="VIN별 리스트"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">VIN별 리스트</span></span></div>
                    <div
                      class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-leaf-last rc-tree-treenode-draggable"
                      draggable="true" aria-grabbed="false"><span aria-hidden="true" class="rc-tree-indent"><span
                      class="rc-tree-indent-unit"></span></span><span class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="아이템별 리스트"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-off">OFF</span><div class="btn-box"><button type="button"
                                                                                           class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">아이템별 리스트</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher_close"></span><span title="DTC 분석"
                                                                                       class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-close"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-add"><span
                      class="blind">추가</span></button></div></div></span><span class="rc-tree-title">DTC 분석</span></span>
                    </div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher_close"></span><span title="신규_하위메뉴1_수정"
                                                                                       class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-close"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-add"><span
                      class="blind">추가</span></button></div></div></span><span
                      class="rc-tree-title">신규_하위메뉴1_수정</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="신규메뉴테스트"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-add"><span
                      class="blind">추가</span></button><button type="button" class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">신규메뉴테스트</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="차량 정보"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-off">OFF</span><div class="btn-box"><button type="button"
                                                                                           class="btn-add"><span
                      class="blind">추가</span></button><button type="button" class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span class="rc-tree-title">차량 정보</span></span>
                    </div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="공지사항"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-off">OFF</span><div class="btn-box"><button type="button"
                                                                                           class="btn-add"><span
                      class="blind">추가</span></button><button type="button" class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">공지사항</span></span></div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher_close"></span><span title="시스템관리"
                                                                                       class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-close"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-add"><span
                      class="blind">추가</span></button></div></div></span><span class="rc-tree-title">시스템관리</span></span>
                    </div>
                    <div class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-draggable"
                         draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                     class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher_close"></span><span title="신규메뉴테스트"
                                                                                       class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-close"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-on">ON</span><div class="btn-box"><button type="button"
                                                                                         class="btn-add"><span
                      class="blind">추가</span></button></div></div></span><span
                      class="rc-tree-title">신규메뉴테스트</span></span></div>
                    <div
                      class="rc-tree-treenode rc-tree-treenode-switcher-close rc-tree-treenode-leaf-last rc-tree-treenode-draggable"
                      draggable="true" aria-grabbed="false"><span aria-hidden="true"
                                                                  class="rc-tree-indent"></span><span
                      class="rc-tree-draggable-icon">↕</span><span
                      class="rc-tree-switcher rc-tree-switcher-noop"></span><span title="20220712Test"
                                                                                      class="rc-tree-node-content-wrapper rc-tree-node-content-wrapper-normal"><span
                      class="rc-tree-iconEle rc-tree-icon__customize"><div class="customize-icon"><span
                      class="flag flag-off">OFF</span><div class="btn-box"><button type="button"
                                                                                           class="btn-add"><span
                      class="blind">추가</span></button><button type="button" class="btn-del"><span
                      class="blind">삭제</span></button></div></div></span><span
                      class="rc-tree-title">20220712Test</span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>