<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
		<header>
			<div class="section">
				<h1 class="logo"><button class="logo-link"><span class="blind">bluelink uptimecare</span></button></h1>
                <div class="util">
                    <button class="link dropdown-toggle" data-coreui-toggle="dropdown" aria-expanded="false"><i class="ico-language"></i></button>
                    <ul class="dropdown-menu language">
                        <li><button class="lang-menu">English</button></li>
                        <li><button class="lang-menu">Korean</button></li>
                    </ul>
                    <!-- <button class="link new"><i class="ico-alram new"></i></button> -->
                    <button class="link"><i class="ico-user"></i><span>Hyundai Motor Group / John smith</span></button>
                </div>
			</div>
		</header>
        <div class="container">
            <aside>
                <ul class="menu">
                    <li class="on"><button class="link-menu"><i class="ico-menu01"></i><span>Dashboard</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu02"></i><span>Preventive maintenance</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu03"></i><span>DTC analysis</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu04"></i><span>Vehicle information</span></button></li>
                    <li><button class="link-menu new"><i class="ico-menu05"></i><span>Notice</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu06"></i><span>System Management</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">DTC Standard information</button></li>
                            <li><button class="link-menu">Preventive maintenance standard infomation</button></li>
                            <li><button class="link-menu">Notice Management</button></li>
                            <li><button class="link-menu">Usage history by user</button></li>
                            <li><button class="link-menu">Account management</button></li>
                            <li><button class="link-menu">Menu management</button></li>
                            <li><button class="link-menu">Permission management</button></li>
                            <li><button class="link-menu">Code management</button></li>
                            <li><button class="link-menu">Language management</button></li>
                        </ul>
                    </li>
                </ul>
                <button class="btn-aside btn-aside-close"></button>
            </aside>
            <div class="content">
                <div class="w-content">
                    <div class="title-area">
                        <h3 class="page-title">Dashboard</h3>
                        <p class="update">Last Update :  <span>2022-05-29</span> <span>07:31:25</span></p>
                        <div class="location">
                            <span>Dashboard</span>
                            <span class="on">Dashboard</span>
                        </div>
                    </div>
                    

                    <div class="dashboard">
                        <div class="flex-section">
                            <div class="sm-section activation-status">
                                <h3 class="title">Activation Status
                                    <button type="button" class="btn btn-tooltip" data-coreui-toggle="tooltip" data-coreui-placement="bottom" title="Tooltip text"><span class="blind">Tooltip</span></button>
                                </h3>
                                <div class="total">
                                    <p class="info-text vehicle-total"><span>All Registered Vehicles</span> <strong>4,260</strong> </p>
                                    <p class="info-text type2">[Unit: number of vehicles]</p>
                                </div>
                                <div class="box-group">
                                    <div class="vehicle">
                                        <h4 class="s-title">Vehicle Type/Country </h4>
                                        <ul>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country01.png" alt=""></span>
                                                <span class="text">QZ FCEV</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country01.png" alt=""></span>
                                                <span class="text">QZ FCEV</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country02.png" alt=""></span>
                                                <span class="text">PSEV</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country02.png" alt=""></span>
                                                <span class="text">PSEVAERT</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country02.png" alt=""></span>
                                                <span class="text">PSEVAERT</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country02.png" alt=""></span>
                                                <span class="text">PSEVAERT</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country02.png" alt=""></span>
                                                <span class="text">PSEVAERT</span>
                                            </li>
                                            <li>
                                                <span class="img-country"><img src="../assets/images/ico-country02.png" alt=""></span>
                                                <span class="text">PSEVAERT</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="activation">
                                        <h4 class="s-title">Activation</h4>
                                        <ul>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                            <li><strong>232</strong></li>
                                        </ul>
                                    </div>
                                    <div class="vcrm">
                                        <h4 class="s-title">VCRM data reception status</h4>
                                        <div class="flex-group">
                                            <div class="flex-title">
                                                <span>Received <br>the day before</span>
                                                <span>7 days <br>received</span>
                                                <span>7 days <br>not received</span>
                                            </div>
                                            <ul>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                                <li class="flex-text">
                                                    <strong>120</strong>
                                                    <strong>120</strong>
                                                    <strong class="col-point3">120</strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-view-status btn-all"><span>전체보기</span></button>
                            </div>
                            <div class="sm-section top-issue">
                                <h3 class="title">Top Issue</h3>
                                <div class="swiper default-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <ul>
                                                <li>
                                                    <span class="date">2022-04-01</span>
                                                    <span class="text">DTC A occurrence : <b>00 cases</b></span>
                                                    <span class="text">Immediate replacement alarm : <b>00 cases</b></span>
                                                </li>
                                                <li>
                                                    <span class="date">2022-04-01</span>
                                                    <span class="text">DTC A occurrence : <b>00 cases</b></span>
                                                    <span class="text">Immediate replacement alarm : <b>00 cases</b></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="swiper-slide">
                                            <ul>
                                                <li>
                                                    <span class="date">2022-04-01</span>
                                                    <span class="text">DTC A occurrence : <b>00 cases</b></span>
                                                    <span class="text">Immediate replacement alarm : <b>00 cases</b></span>
                                                </li>
                                                <li>
                                                    <span class="date">2022-04-01</span>
                                                    <span class="text">DTC A occurrence : <b>00 cases</b></span>
                                                    <span class="text">Immediate replacement alarm : <b>00 cases</b></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="swiper-slide">
                                            <ul>
                                                <li>
                                                    <span class="date">2022-04-01</span>
                                                    <span class="text">DTC A occurrence : <b>00 cases</b></span>
                                                    <span class="text">Immediate replacement alarm : <b>00 cases</b></span>
                                                </li>
                                                <li>
                                                    <span class="date">2022-04-01</span>
                                                    <span class="text">DTC A occurrence : <b>00 cases</b></span>
                                                    <span class="text">Immediate replacement alarm : <b>00 cases</b></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <button class="btn-text-arr"><span>more</span></button>
                            </div>
                        </div>

                        <div class="section graph-bar">
                            <div class="graph-box">
                                <em class="title">DTC Status
                                    <button type="button" class="btn btn-tooltip" data-coreui-toggle="tooltip" data-coreui-placement="bottom" title="Tooltip text"><span class="blind">Tooltip</span></button>
                                </em>
                                <span class="info-text">[Unit: number of vehicles]</span>
                                <div class="graph-draw"></div>
                            </div>   
                            <div class="graph-box">
                                <em class="title">Predictive Maintenance Status
                                    <button type="button" class="btn btn-tooltip" data-coreui-toggle="tooltip" data-coreui-placement="bottom" title="Tooltip text"><span class="blind">Tooltip</span></button>
                                </em>
                                <span class="info-text">[Unit: number of vehicles]</span>
                                <div class="graph-draw"></div>
                            </div>
                            <div class="graph-color-info">
                                <span class="graph-color-item color-normal">Normal</span>
                                <span class="graph-color-item color-caution">Caution</span>
                                <span class="graph-color-item color-warning">warning</span>
                                <span class="graph-color-item color-danger">Danger</span>
                                <span class="graph-color-item color-etc">Inability to judge</span>
                            </div>
                        </div>

                        <div class="section graph-circle">
                            <em class="title">Details of DTC
                                <button type="button" class="btn btn-tooltip" data-coreui-toggle="tooltip" data-coreui-placement="bottom" title="Tooltip text"><span class="blind">Tooltip</span></button>
                            </em>
                            <span class="info-text">[Unit: number of vehicles]</span>
                            <div class="graph-box">
                                <div class="title">Charging system</div>
                                <div class="graph-flex">
                                    <div class="graph-area graph-normal">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Normal</span>
                                    </div>
                                    <div class="graph-area graph-caution">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Caution</span>
                                    </div>
                                    <div class="graph-area graph-warning">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>warning</span>
                                    </div>
                                    <div class="graph-area graph-danger">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Danger</span>
                                    </div>
                                    <div class="graph-area graph-etc">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Inability to judge</span>
                                    </div>
                                </div>
                            </div>
                            <div class="graph-box">
                                <div class="title">Charging system</div>
                                <div class="graph-flex">
                                    <div class="graph-area graph-normal">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Normal</span>
                                    </div>
                                    <div class="graph-area graph-caution">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Caution</span>
                                    </div>
                                    <div class="graph-area graph-warning">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>warning</span>
                                    </div>
                                    <div class="graph-area graph-danger">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Danger</span>
                                    </div>
                                    <div class="graph-area graph-etc">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Inability to judge</span>
                                    </div>
                                </div>
                            </div>
                            <div class="graph-box">
                                <div class="title">Fuel cell system</div>
                                <div class="graph-flex">
                                    <div class="graph-area graph-normal">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Normal</span>
                                    </div>
                                    <div class="graph-area graph-caution">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Caution</span>
                                    </div>
                                    <div class="graph-area graph-warning">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>warning</span>
                                    </div>
                                    <div class="graph-area graph-danger">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Danger</span>
                                    </div>
                                    <div class="graph-area graph-etc">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>20</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Inability to judge</span>
                                    </div>
                                </div>
                            </div>
                            <div class="graph-box">
                                <div class="title">Chassis system</div>
                                <div class="graph-flex">
                                    <div class="graph-area graph-normal">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Normal</span>
                                    </div>
                                    <div class="graph-area graph-caution">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Caution</span>
                                    </div>
                                    <div class="graph-area graph-warning">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>warning</span>
                                    </div>
                                    <div class="graph-area graph-danger">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Danger</span>
                                    </div>
                                    <div class="graph-area graph-etc">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Inability to judge</span>
                                    </div>
                                </div>
                            </div>
                            <div class="graph-box">
                                <div class="title">Undercarriage system</div>
                                <div class="graph-flex">
                                    <div class="graph-area graph-normal">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Normal</span>
                                    </div>
                                    <div class="graph-area graph-caution">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Caution</span>
                                    </div>
                                    <div class="graph-area graph-warning">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>warning</span>
                                    </div>
                                    <div class="graph-area graph-danger">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Danger</span>
                                    </div>
                                    <div class="graph-area graph-etc">
                                        <div class="graph-draw">
                                            <p class="graph-txt-wrap">
                                                <span class="graph-txt"><strong>50</strong><em>%</em></span>
                                                <span class="graph-txt2"><strong>100</strong> <em>Vehicle</em></span>
                                            </p>
                                        </div>
                                        <span>Inability to judge</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section graph-bar-list">
                            <em class="title">Details of Predictive Maintenance
                                <button type="button" class="btn btn-tooltip" data-coreui-toggle="tooltip" data-coreui-placement="bottom" title="Tooltip text"><span class="blind">Tooltip</span></button>
                            </em>
                            <span class="info-text">[Unit: number of vehicles]</span>
                            <div class="graph-box">
                                <em class="title">High voltage battery</em>
                                <div class="graph-draw"></div>
                            </div>   
                            <div class="graph-box">
                                <em class="title">Fuel cell stack</em>
                                <div class="graph-draw"></div>
                            </div>
                            <div class="graph-box">
                                <em class="title">Ion filter</em>
                                <div class="graph-draw"></div>
                            </div>
                            <div class="graph-color-info">
                                <span class="graph-color-item color-normal">Normal</span>
                                <span class="graph-color-item color-caution">Caution</span>
                                <span class="graph-color-item color-warning">warning</span>
                                <span class="graph-color-item color-danger">Danger</span>
                                <span class="graph-color-item color-etc">Inability to judge</span>
                            </div>                       
                        </div>
                    </div>

                    <div class="btn-wrap">
                        <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        <button class="btn btn-primary" type="submit">Modify</button>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>