<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../scss/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
        <div class="popup-wrap full-popup">
            <strong class="title-popup"><span>[FC1245]</span> CAN communication error</strong>
            <div class="popup-content">
                <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item active">
                        <h4 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-coreui-toggle="collapse" data-coreui-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"><span>01</span><p><em>DTC 발생일시 :</em> 2021-08-16 22:19:30</p></button>
                        </h4>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-coreui-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                <div>
                                    <select class="form-select" aria-label="Default select">
                                        <option selected>Vehicle State Information</option>
                                        <option value="1">Vehicle State Information</option>
                                        <option value="2">Vehicle State Information</option>
                                        <option value="3">Vehicle State Information</option>
                                    </select>
                                </div>
                                <div class="graph-draw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"><span>02</span><p><em>DTC 발생일시 :</em> 2021-08-16 22:19:30</p></button>
                        </h4>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-coreui-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div>
                                    <select class="form-select" aria-label="Default select">
                                        <option selected>Vehicle State Information</option>
                                        <option value="1">Vehicle State Information</option>
                                        <option value="2">Vehicle State Information</option>
                                        <option value="3">Vehicle State Information</option>
                                    </select>
                                </div>
                                <div class="graph-draw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"><span>03</span> <p><em>DTC 발생일시 :</em> 2021-08-16 22:19:30</p></button>
                        </h4>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-coreui-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <select class="form-select" aria-label="Default select">
                                    <option selected>Vehicle State Information</option>
                                    <option value="1">Vehicle State Information</option>
                                    <option value="2">Vehicle State Information</option>
                                    <option value="3">Vehicle State Information</option>
                                </select>
                                <div class="graph-draw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour"><span>04</span> Driving Motor Status (Motor Torque / Motor Temperature / RPM)</button>
                        </h4>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour" data-coreui-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <select class="form-select" aria-label="Default select">
                                    <option selected>Vehicle State Information</option>
                                    <option value="1">Vehicle State Information</option>
                                    <option value="2">Vehicle State Information</option>
                                    <option value="3">Vehicle State Information</option>
                                </select>
                                <div class="graph-draw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive"><span>05</span> Cluster Display Status (Warning Light / POPUP)</button>
                        </h4>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive" data-coreui-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <select class="form-select" aria-label="Default select">
                                    <option selected>Vehicle State Information</option>
                                    <option value="1">Vehicle State Information</option>
                                    <option value="2">Vehicle State Information</option>
                                    <option value="3">Vehicle State Information</option>
                                </select>
                                <div class="graph-draw"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="panelsStayOpen-headingSix">
                            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix"><span>06</span> Hydrogen Charge (SOF)</button>
                        </h4>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix" data-coreui-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <select class="form-select" aria-label="Default select">
                                    <option selected>Vehicle State Information</option>
                                    <option value="1">Vehicle State Information</option>
                                    <option value="2">Vehicle State Information</option>
                                    <option value="3">Vehicle State Information</option>
                                </select>
                                <div class="graph-draw"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="button" class="btn-close"><span class="blind">닫기</span></button>
        </div>
        <span class="bg"></span>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>