<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="intro">
		<header>
			<div class="section">
				<h1 class="logo"><button class="logo-link"><span class="blind">bluelink uptimecare</span></button></h1>
				<p>Request permission to use your account</p>
			</div>
		</header>
		<div class="content info">
			<div class="user">
				<img src="../assets/images/img-complate.png" alt="complate">
			</div>
			<strong>Your request for authorization <br>to use your account has been completed.</strong>
			<p>Once the admin approves the request, you can log into the Uptime service.</p>
		</div>
		<div class="btn-wrap">
			<button class="btn btn-primary" type="submit">Login</button>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>