<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<title>bluelink</title>

    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/css/coreui.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../scss/style.css">
</head>
<body>
	<div class="wrap">
		<header>
			<div class="section">
				<h1 class="logo"><button class="logo-link"><span class="blind">bluelink uptimecare</span></button></h1>
                <div class="util">
                    <button class="link dropdown-toggle" data-coreui-toggle="dropdown" aria-expanded="false"><i class="ico-language"></i></button>
                    <ul class="dropdown-menu language">
                        <li><button class="lang-menu">English</button></li>
                        <li><button class="lang-menu">Korean</button></li>
                    </ul>
                    <!-- <button class="link new"><i class="ico-alram new"></i></button> -->
                    <button class="link"><i class="ico-user"></i><span>Hyundai Motor Group / John smith</span></button>
                </div>
			</div>
		</header>
        <div class="container">
            <aside>
                <ul class="menu">
                    <li><button class="link-menu"><i class="ico-menu01"></i><span>Dashboard</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu02"></i><span>Preventive maintenance</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu03"></i><span>DTC analysis</span></button></li>
                    <li><button class="link-menu"><i class="ico-menu04"></i><span>Vehicle information</span></button></li>
                    <li><button class="link-menu new"><i class="ico-menu05"></i><span>Notice</span></button></li>
                    <li class="on"><button class="link-menu"><i class="ico-menu06"></i><span>System Management</span></button>
                        <ul class="depth">
                            <li><button class="link-menu">DTC Standard information</button></li>
                            <li><button class="link-menu">Preventive maintenance standard infomation</button></li>
                            <li><button class="link-menu">Notice Management</button></li>
                            <li><button class="link-menu">Usage history by user</button></li>
                            <li><button class="link-menu on">Account management</button></li>
                            <li><button class="link-menu">Menu management</button></li>
                            <li><button class="link-menu">Permission management</button></li>
                            <li><button class="link-menu">Code management</button></li>
                            <li><button class="link-menu">Language management</button></li>
                        </ul>
                    </li>
                </ul>
                <button class="btn-aside btn-aside-close"></button>
            </aside>
            <div class="content">
                <div class="w-content">
                    <div class="title-area">
                        <h3 class="page-title">Account management</h3>
                        <div class="location">
                            <span>System management</span>
                            <span class="on">Account management</span>
                        </div>
                    </div>

                    <div class="content-section">
                        <strong class="user">James Hong <span>Hyundai motors</span></strong>
                        <ul class="user-info">
                            <li>
                                <em>User ID</em>
                                <span>foreverbts</span>
                            </li>
                            <li>
                                <em>Authority</em>
                                <span>Super administrator</span>
                            </li>
                            <li>
                                <em>e-Mail</em>
                                <span>gildongi_zzang@email.com</span>
                            </li>
                            <li>
                                <em>Registration/Delete date</em>
                                <span>2022-06-15 / -</span>
                            </li>
                            <li>
                                <em>Last access date</em>
                                <span>2022-06-30</span>
                            </li>
                        </ul>

                        <div class="btn-wrap">
                            <button class="btn btn-primary btn-tbl btn-sm" type="submit">Modify</button>
                            <button type="button" class="btn btn-outline-secondary btn-tbl btn-sm">Delete</button>
                        </div>
                    </div>

                    <div class="btn-wrap">
                        <button type="button" class="btn btn-outline-secondary">Back to List</button>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.2.1/dist/js/coreui.bundle.min.js" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" charset="utf-8" src="../js/ui.js"></script>
</body>
</html>